<div class="row allheight"  *ngIf="chat">

    <!-- Mensajes -->
    <div class="col-md-9 allheight section messages">
        <div class="section__head">
            <img src="assets/img/group.svg" alt="" class="section__head-img">
            <span class="section__head-text ml-3">{{ chat.title }}</span>
        </div>

        <div class="messages__container">

            
            <!-- mensaje de bienvenida -->
            <div class="messages__list " *ngIf="messages && messages.length == 0 && !loaderMessages">
                <div class="message message--welcome">
                    <img src="assets/img/man.svg" alt="" class="chat__img">
                    <span class="message__text-welcome text-muted" *ngIf="user">{{ user.username }} a creado el chat. </span>
                    <span class="message__text-welcome text-muted">{{ (chat.created_at | amFromUnix) | amTimeAgo }} </span>
                </div>
            </div>
            <!-- mensaje de bienvenida -->


            <!-- spinner  -->
            <div class="messages__list " id="messagesList" *ngIf="loaderMessages">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
            </div>


            <!-- contenedor de todos los mensajes -->
            <div class="messages__list " id="messagesList" *ngIf="messages && messages.length && !loaderMessages">

                <div class="message" *ngFor="let message of messages">
                    <img src="assets/img/man.svg" alt="" class="chat__img" *ngIf="!message.user.image">
                    <img [src]="url + '/api/user/image/' + message.user.image" class="chat__img" *ngIf="message.user.image">
                    <div class="message__body">
                        <div class="message__info">
                            <span class="message__username text-muted">{{ message.user.username }}</span>
                            <span class="message__date text-muted">{{ (message.created_at | amFromUnix) | amDateFormat:'hh:mmA'}}</span>
                        </div>
                        <p class="message__text">{{ message.text }}</p>
                    </div>
                </div>

            </div>
            <!-- contenedor de todos los mensajes -->

            <!-- campo para mandar el mensaje -->
            <div class="formdefault formdefault--messages formdefault-100">
                <div class="formdefault__group m-4">
                    <input type="text" class="formdefault__input" placeholder="Escribe tu mensaje" [(ngModel)]="textMessage" (keyup.enter)="sendMessage()">
                    <button class="btn btn-primary formdefault--messages-btn ml-3" (click)="sendMessage()"><i class="fas fa-paper-plane"></i></button>
                </div>
            </div>
            <!-- campo para mandar el mensaje -->
        </div>
    </div>
    <!-- Mensajes -->

    <!-- Informacion del chat -->
    <div class="col-md-3 allheight section groupinfo">
        <div class="section__head">
            <img src="assets/img/information.svg" alt="" class="section__head-img--smaller">
            <span class="section__head-text ml-3">Information</span>
        </div>

        <div class="groupinfo__container">
            <div class="groupinfo__title">{{ chat.title | uppercase }}</div>

            <p class="groupinfo__description">{{ chat.description }}</p>
            
            

            <!-- Listado de los miembros del chat -->
            <div class="groupinfo__title mt-5">{{ 'members' | uppercase }}</div>
            <div class="members" *ngIf="members">
                <div class="member" *ngFor="let member of members">

                    <img *ngIf="!member.user.image" src="assets/img/man.svg" class="chat__img">

                    <img *ngIf="member.user.image" [src]="url + '/api/user/image/' + member.user.image" class="chat__img">

                    <span class="member__username">{{ member.user.username }}</span>
                </div>
            </div>
             <!-- Listado de los miembros del chat -->


        </div>

       
    </div>
     <!-- Informacion del chat -->

</div>

<div class="drawing" *ngIf="!chat">
    <img src="assets/img/tap2.svg" class="section__head-img drawing__img">
    <span class="drawing__text--nochats">Select a chat</span>
</div>