.section
    padding: 1rem 0
.section__head
    height: 4rem
    display: flex
    align-items: center
    justify-content: center
    padding-bottom: 1rem
    border-bottom: .2rem solid rgba(#000, 0.1)
.section__head--pointer
    cursor: pointer
.section__head-img
    width: 3rem
.section__head-img--smaller
    width: 2rem
